body{
	font-family: monospace;
	background-color: #efefef;
}

#main{
	padding: 1rem 2rem;
	margin: 1rem;
	text-align: center;
	background-color: white;
	border-radius: 8px; 
}


#img-div{
	background-color: #efefef;
	border-radius: 8px;
	padding: 2rem 2rem;
	margin: 0;
}

#image{
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#tribute-info{
	margin: 2rem 0;
	padding: 1rem;
	text-align: left;
}

blockquote{
	font-style: italic;
	margin: 2rem 0;
	text-align: center;
	font-size: 1rem;
}

#tribute-link{

}